	<legend>Nearly there</legend>
	To use Teebox you need a youtube account with a valid channel.<br><br>
	<li>Please <%= link_to "+ Create your Youtube Channel", "http://www.youtube.com/create_channel", target: "_blank" %>, 
		What's a  Youtube 
		<%= link_to "channel?", "http://youtube-global.blogspot.hk/2012/03/welcome-to-your-new-youtube-channel.html", target: "_blank" %></li>
		<br>
	<li>Sign in again <%= link_to image_tag('youtube.png'), "/auth/youtube" %></li>