
.container {
	width:940px;
	padding: 20px;
	margin: 0 auto 0 auto;
	
}

.logo {
	display:inline-block;
	width:100px;
}

.alignright {
	position:absolute;
	top:25%;
	right:0%;
	height: auto;
}
/* ------------------------- Header --------------------------------------------*/

.header {
	padding: 25px;
	width: 100%;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	background-color: #EEE;
}

.header_container {
	position:relative;
	width: 940px;
	margin: 0 auto 0 auto;
}

/* ------------------------- Footer --------------------------------------------*/

#footer {
	position:relative;
	bottom: 0px;
	margin-bottom: 0px!important;
	line-height: 0px;
}

/*---------------------------- buttons -------------------------------------------*/

